.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  gap: 40px;
}
.listItem {
  box-shadow: 2px 2px 5px #878787;
}
.listItem:nth-child(2n + 1) {
  background-color: #e2e2e2;
}

.link {
  display: flex;
  gap: 20px;
  padding: 0px 130px;
}

.image {
  width: 80px;
  height: 120px;
}
.textBlock {
  display: flex;
  flex-direction: column;
}
.title {
}
.releaseDate {
  color: #626262;
  font-size: 14px;
}
.overview {
  text-overflow: ellipsis;
}
